.side-card {
    background-color: var(--color-primary);
    padding: var(--padding-small);
    border-radius: var(--border-radius-big);
}

.side-card__desc {
    background-color: #666;
    border-radius: var(--border-radius-small);
    margin: 0 auto 0.5rem auto;
}

.side-card__name {
    margin: 1rem 0;
}

.side-card__image {
    margin: var(--padding-big);
    width: 80%;
    box-sizing: border-box;
    object-fit: scale-down;
    border-radius: var(--border-radius-big);
    background-color: var(--color-primary-light);
}


