.side-card {
    background-color: var(--color-primary);
    padding: var(--padding-small);
    border-radius: var(--border-radius-big);
}

.side-card__desc {
    background-color: #666;
    color: #fff;
    border-radius: var(--border-radius-small);
    margin: 0
}

.side-card__name {
    margin: 1rem 0;
}

.side-card__image {
    width: 100%;
    object-fit: scale-down;
    border-radius: var(--border-radius-small);
}